@import 'src/kit/src/styles/config';

.certs-list {
    textarea.kit-field {
        height: 25em;
        width: 100%;
        white-space: pre;
        overflow-wrap: normal;
        overflow-x: auto;
    }

    .kit-field-container > textarea.kit-field + label.kit-label-placeholder {
        align-self: start;
    }
}

