@import 'src/kit/src/styles/config';

.events-list {
    &__event {
        border-left: 5px solid $kit-color-gray-4;

        &--Warning {
            border-left-color: $kit-failed-color;
        }

        &--Normal {
            border-left-color: $kit-success-color;
        }

        &__ago {
            font-size: 14px;
        }

        &__time {
            font-size: 12px;
        }

        .row {
            line-height: 2;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .columns {
            white-space: normal;
        }
    }
}
